.new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.new-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.new-form input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new-form button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.new-form button:hover {
  background-color: #0062cc;
}
